basePath: /api/v1
definitions:
  visualfinance_internal_models.Expense:
    properties:
      amount:
        type: integer
      category_id:
        type: string
      created_at:
        type: string
      expense_date:
        type: string
      expense_id:
        type: string
      image_url:
        type: string
      is_deleted:
        type: boolean
      note:
        type: string
      updated_at:
        type: string
      user_id:
        type: string
    type: object
  visualfinance_internal_pkg_response.Response:
    properties:
      data: {}
      message:
        type: string
      success:
        type: boolean
    type: object
host: pem.danghoa-erp.site
info:
  contact: {}
  description: This is the API for Visual Finance backend.
  title: Visual Finance API
  version: "1.0"
paths:
  /:
    get:
      description: Get a list of expenses (limited to 50 for now)
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/visualfinance_internal_models.Expense'
            type: array
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/visualfinance_internal_pkg_response.Response'
      summary: Get all expenses
      tags:
      - expenses
    post:
      consumes:
      - multipart/form-data
      description: Uploads an image, parses the note for amount, and saves to DB.
      parameters:
      - description: Image file
        in: formData
        name: image
        required: true
        type: file
      - description: Note containing amount
        in: formData
        name: note
        required: true
        type: string
      - description: User ID
        in: formData
        name: user_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/visualfinance_internal_pkg_response.Response'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/visualfinance_internal_pkg_response.Response'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/visualfinance_internal_pkg_response.Response'
      summary: Create a new expense with Image
      tags:
      - expenses
schemes:
- https
swagger: "2.0"
